- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8
    = render 'bokes_tabs'
    .wrapper
      %h2 このお題でボケる

      .boke
        .boke-photo
          .boke-photo-content
            %a{href: "/odai/1714604"}
              %img{src: "//d2dcan0armyq93.cloudfront.net/photo/odai/600/c788e2ae3ccee666374683a087fc6803_600.jpg"}
            .boke-photo-meta
              %a
                %span.fa.fa-camera{title: 'photo by'} photo by 少林
              &nbsp;
              %a
                %span.fa.fa-picture-o{title: 'odai by'} odai by 少林

      = render 'form'

  .col-md-4
    = render 'widget'
