%ul.nav.nav-tabs
  %li{class: !params[:tab].present? ? 'active' : ''}
    = link_to '新着', bokes_path
  %li{class: params[:tab] == 'hot' ? 'active' : ''}
    = link_to '注目', bokes_path(tab: 'hot')
  %li{class: params[:tab] == 'popular' ? 'active' : ''}
    = link_to '人気', bokes_path(tab: 'popular')
  %li
    = link_to 'お題投稿', bokes_path