- breadcrumb breadcrumbs_for_bokes(params[:tab])

.row
  .col-md-8

    .wrapper
      %h2
        %i.fa.fa-picture-o
        手持ちの写真からお題を投稿する

      .boke
        .boke-photo
          .boke-photo-content

  .col-md-4
    = render 'widget'
