@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"
@import "common"

.registration
  background-color: #F2EFED
  border-radius: 5px
  padding: 20px
  .login-form-content
    padding: 20px 0 40px
    width: 600px
    margin: auto
  label
    display: block
    max-width: 100%
    margin-bottom: 5px
    font-weight: bold

.login-description
  padding: 20px

.category-tab-menu
  margin: 0 auto 10px
  li.active, li
    a
      color: #FFF
      font-weight: bold
      padding: 0 8px
  li.active
    background-color: #e9b501
  li
    background-color: #c6c6c6
  li:hover
    background-color: #e9b501
    a
      text-decoration: none
