@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

body
  padding-top: 52px
  padding-bottom: 30px
  background: #FFF image-url("wood_pattern.png") repeat scroll
.navbar
  background-color: #FFF
.navbar
  border-bottom: 2px solid #000
.nav > li > a
  color: #000
  font-weight: bold
.navbar-header
  #logo > a
    font-weight: bold
    font-size: 1.8em
    color: #ECC027
    text-decoration: none
    -webkit-text-stroke-color: #000
    -webkit-text-stroke-width: 1px
.navbar-toggle, .icon-bar
  border: 1px solid #000000

.container
  background-color: #FFF
.contents
  min-height: 500px



