body
  padding-top: 52px
  padding-bottom: 30px
  background: #FFF image-url("wood_pattern.png") repeat scroll

.navbar
  background-color: #FFF

.navbar
  border-bottom: 2px solid #000

.nav > li > a
  color: #000
  font-weight: bold

.navbar-header
  #logo > a
    font-weight: bold
    font-size: 1.4em
    color: #ECC027
    text-decoration: none
    text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000

.navbar-toggle, .icon-bar
  border: 1px solid #000000

.breadcrumb
  background-color: #F2EFED
  a, span.current
    color: #666
.breadcrumb a
  &:before
    content: "\26fa"
  &:hover
    text-decoration: none


.ratings
  padding: 8px 0 2px
  margin-bottom: 0
  font-size: 0.9em
  span.post-count
    font-weight: bold

.container[role="main"]
  background-color: #F2EFED
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  margin-bottom: 20px
  #contents
    padding: 0 10px 10px
    content: ""
    display: table
    clear: both
    width: 100%
    .wrapper
      background-color: #FFF
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px
      margin-bottom: 10px
      padding: 20px
      min-height: 500px

.form-inputs
  .input
    margin-top: 10px

h2
  border-bottom: 2px solid #f4c536
  color: #222
  font-weight: bold
  font-size: 1.2em
  padding-bottom: 2px
  margin-bottom: 1.8em
  text-align: left

.scroll-to-top
  margin: 20px 5px

.form-actions
  margin-top: 20px

.no-padding
  padding: 0 !important

.error_notification
  margin-bottom: 10px
  color: #E6282F
.form-inputs
  .error
    color: #E6282F
  .field_with_errors
    input
      background-color: #FBDFE0

.horizontal-form-wapper

.side-widget
  margin: 0 0 1em
  background-color: #fff
  border: 1px solid #cbcbcb

  .banner
    font-size: 12.5px
    text-align: center
    padding: 10px 0
    a
      vertical-align: middle
      height: 50px
      background-color: transparent
      font-weight: bold
      font-size: 1.2em
      color: #ECC027
      text-decoration: none
      text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000

  .side-widget-title
    font-size: 16px
    font-weight: bold
    margin: 0.5em
    i.fa-star
      color: #ebbf2a

  .side-widget-content
    margin: 0.5em
    dl
      padding: 0.2em 1em
      margin: 0
      dt
        width: 25px
      dd
        margin-left: 30px
        a
          font-size: 0.9em

.btn-long
  width: 400px

.clear
  clear: both

.index-title
  margin-bottom: 1.8em

.fa-star
  color: #ebbf2a
.fa-lg
  font-size: 1.33333333em
  line-height: 0.75em
  vertical-align: -15%

.user-icon
  width: 24px
  height: 24px
  border: 1px solid #999
  -moz-border-radius: 24px
  -webkit-border-radius: 24px
  border-radius: 24px

a:hover
  text-decoration: none

.gray-box
  padding: 20px
  text-align: center
  margin-bottom: 20px

#footer
  font-size: 13px
  background-color: #FFF
  padding: 20px 20px 0
  border-radius: 5px
