#footer.container
  %ul.list-inline
    %li
      %a 運営会社
    %li
      %a プライバシーポリシー
    %li
      %a ご利用規約
    %li
      %a ヘルプ・よくある質問
    %li
      %a お問い合わせ
  %address
    Copyright &copy; ボケて (clone) All rights reserved Company
