%ul.nav.nav-tabs
  %li{class: action_name == 'show' ? 'active' : ''}
    = link_to 'マイページ', accounts_path
  %li{class: action_name != 'show' ? 'active' : ''}
    = link_to '設定', edit_accounts_path
  %li
    = link_to 'ログアウト', destroy_user_session_path, method: :delete
